<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Schmuka</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/heroic-features.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Schmuka</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link"><%=user.local.name%>
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logg ut</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-3">Konsertarrangør</h1>
        <p class="lead">Her kan du finne oversikt over alle konserter, konserter du arrangerer, og teknisk personell for disse konsertene.</p>
      </header>

	<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" data-toggle="tab" href="#home" role="tab">Alle konserter</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#profile" role="tab">Dine konserter</a>
			</li>
			<li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sanger som skal spilles</a>
	          <div class="dropdown-menu">
	          <% for(var i=0; i<conc.length; i++) {
	              if(conc[i].approvedByManager == true && user.local.name == conc[i].arranger) {
	            %>
	            <a class="dropdown-item" data-toggle="tab" href="#bandMentionID-<%= i %>"><%= conc[i].artist %>, <%=conc[i].start.slice(8,10)%>.<%=conc[i].start.slice(5,7)%>.<%=conc[i].start.slice(0,4)%></a>
	          <% }
	          } %>
	          </div>
	        </li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div class="tab-pane active" id="home" role="tabpanel">
			<table class="table">
				  <thead>
				    <tr>
				      <th>Scene</th>
				      <th>Konsert</th>
				      <th>Dato</th>
				      <th>Tid</th>
				    </tr>
				  </thead>
				  <tbody>
				  	<% for(var i=0; i<conc.length; i++) { 
				  		if(conc[i].approvedByManager == true && conc[i].approvedByBookingSjef == true) {
				  	%>
				    <tr>
				      <td><%= conc[i].scene %></td>
				      <td><%= conc[i].artist %></td>
				      <td><div class="form-group"><input type="hidden" name="dateBooked" value="<%=conc[i].start%>">
								<%=conc[i].start.slice(8,10)%>.<%=conc[i].start.slice(5,7)%>.<%=conc[i].start.slice(0,4)%>
								</div></td>
							<td><%=conc[i].start.slice(11)%></td>
				    </tr>
				    <% }
				    } %>
				  </tbody>
				</table>
			</div>
			<div class="tab-pane" id="profile" role="tabpanel">
				<table class="table">
				  <thead>
				    <tr>
				      <th>Scene</th>
				      <th>Konsert</th>
				      <th>Dato</th>
				      <th>Tid</th>
				      <th>Lys</th>
				      <th>Lyd</th>
				      <th>Rigging</th>
				    </tr>
				  </thead>
				  <tbody>
				  	<% for(var i=0; i<conc.length; i++) { 
              			if(user.local.name == conc[i].arranger && conc[i].approvedByManager == true && conc[i].approvedByBookingSjef == true) {
              		%>
				    <tr>
				      	<td><%= conc[i].scene %></td>
				      	<td><%= conc[i].artist %></td>
				      	<td><%=conc[i].start.slice(8,10)%>.<%=conc[i].start.slice(5,7)%>.<%=conc[i].start.slice(0,4)%></td>
				      	<td><%=conc[i].start.slice(11)%></td>
		                <td><% for(var k=0; k<conc[i].lights.length; k++) { %>
		                   <%= conc[i].lights[k] %></br>
		                <% } %>
		                </td>
		                <td><% for(var k=0; k<conc[i].sound.length; k++) { %>
		                   <%= conc[i].sound[k] %></br>
		                <% } %>
		                </td>
  				      	<td><% for(var k=0; k<conc[i].rig.length; k++) { %>
                   			<%= conc[i].rig[k] %></br>
                		<% } %>
                		</td>
					</tr>
					<% }
					} %>
				  </tbody>
				</table>
			</div>
			<% for(var i=0; i<conc.length; i++) { %>
          <%if(conc[i].approvedByManager && user.local.name == conc[i].arranger) {%>
          <div class="tab-pane" id="bandMentionID-<%= i %>" role="tabpanel"><b> Band: </b> <%= conc[i].artist %>  </br></br><b> Scene: </b> <%= conc[i].scene %>  </br></br><b> Dato:</b> <%= conc[i].start.slice(8,10)%>.<%=conc[i].start.slice(5,7)%>.<%=conc[i].start.slice(0,4) %>  </br></br><b>Sanger som skal bli spilt denne konserten:</b></br>
          	<%= conc[i].songs %>
          </div>
          <% }
          } %>
		</div>
	</div>
</div>

	</div>
	</br>
	</br>
	</br>

    <!-- /.container -->

    <!-- Footer kan brukes senere -->
    <footer class="py-3 bg-dark footer">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Schmuka 2017</p>
      </div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>
