<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Schmuka</title>

    <!-- Bootstrap core CSS -->
    <link href= "vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/heroic-features.css" rel="stylesheet">

  </head>

  <body>

    <!-- LOGIN FORM -->

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Schmuka</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Hjem
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logg ut</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-3">Booking-ansvarlig</h1>
        <p class="lead">Her kan sende inn bookingforespørsler og finne teknisk informasjon for konserter.</p>
      </header>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Alle konserter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Innhold kommer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#booking" role="tab">Booking</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Teknisk informasjon</a>
          <div class="dropdown-menu">
          <% for(var i=0; i<info.length; i++) { %>
            <a class="dropdown-item" data-toggle="tab" href="#bandID-<%= i %>"><%= info[i].band %></a>
          <% } %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Legg inn omtale</a>
          <div class="dropdown-menu">
          <% for(var i=0; i<conc.length; i++) {
              if(conc[i].approvedByManager == true) {
            %>
            <a class="dropdown-item" data-toggle="tab" href="#bandMentionID-<%= i %>"><%= conc[i].artist %></a>
          <% }
          } %>
          </div>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="home" role="tabpanel">
          <table class="table">
          <thead>
            <tr>
              <th>Scene</th>
              <th>Konsert</th>
              <th>Dato</th>
              <th>Tid</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i<conc.length; i++) { 
                if(conc[i].approvedByBookingSjef == true && conc[i].approvedByManager) {
                  %>
            <tr>
                <td><%= conc[i].scene %></td>
                <td><%= conc[i].artist %></td>
                <td><%= conc[i].date %></td>
                <td><%= conc[i].time %></td>
          </tr>
          <% }
          } %>
          </tbody>
          </table>
        </div>
        <div class="tab-pane" id="profile" role="tabpanel">...</div>
        <div class="tab-pane" id="booking" role="tabpanel">
          <form action='/bookingAnsvarlig' method="POST">
            <label for="Scene"><b>Scene:</b></label>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="scene" value="Dødens dal" checked>
                Dødens dal
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="scene" value="Storsalen">
                Storsalen
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="scene" value="Klubben">
                Klubben
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="scene" value="Knaus">
                Knaus
              </label>
            </div>
            <div class="form-group">
              <label for="Artist"><b>Band/Artist:</b></label>
              <input type="text" class="form-control" name="artist" placeholder="Skriv inn band eller artist-navn">
            </div>
            <div class="form-group">
              <label for="Dato"><b>Dato:</b></label>
              <input type="text" class="form-control" name="date" placeholder="Skriv inn dato(dd.mm.yyyy)">
            </div>
            <div class="form-group">
              <label for="Tid"><b>Tid:</b></label>
              <input type="text" class="form-control" name="time" placeholder="Skriv inn tidspunkt(mm:hh)">
            </div>
            <div>
              <label for="Lys"><b>Lys:</b></label>
            </div>
            <div class="border border-top-0 border-left-0 border-right-0">
              <% for(var i=0; i<users.length; i++) { 
                  if(users[i].local.role == "tekniker") {
              %>
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="lights[]" value="<%= users[i].local.name %>"> <%= users[i].local.name %>
                </label>
              </div>
              <% }
              } %>
            </div>
            <div>
              <label for="Lyd"><b>Lyd:</b></label>
            </div>
            <div class="border border-top-0 border-left-0 border-right-0">
              <% for(var i=0; i<users.length; i++) { 
                  if(users[i].local.role == "tekniker") {
              %>
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="sound[]" value="<%= users[i].local.name %>"> <%= users[i].local.name %>
                </label>
              </div>
              <% }
              } %>
            </div>
            <div>
              <label for="Rigging"><b>Rigging:</b></label>
            </div>
            <div class="border border-top-0 border-left-0 border-right-0">
              <% for(var i=0; i<users.length; i++) { 
                  if(users[i].local.role == "tekniker") {
              %>

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="rig[]" value="<%= users[i].local.name %>"> <%= users[i].local.name %>
                </label>
              </div>
              <% }
                } %>
            </div>
            <div>
              <label for="Arranger"><b>Arrangør:</b></label>
            </div>
            <div class="border border-top-0 border-left-0 border-right-0">
              <% for(var i=0; i<users.length; i++) { 
                  if(users[i].local.role == "arrangor") {
              %>

              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="arranger" value="<%= users[i].local.name %>"> <%= users[i].local.name %>
                </label>
              </div>
              <% }
                } %>

              <div class="form-group">
                <label for="Artist"><b>Billettpris foreslått av markedsanalytiker:</b></label>
                <input type="text" class="form-control" name="ticketPrice" placeholder="Skriv inn billettpris">
              </div>
            </div>
            <div>
              </br>
              <button type="submit" class="btn btn-primary">Send til bookingsjef</button>
            </div>
          </form>
        </div>
        <% for(var i=0; i<conc.length; i++) { 
            if(conc[i].approvedByManager == true) {
        %>
        <div class="tab-pane" id="bandID-<%= i %>" role="tabpanel"><b> Band:</b></br> <%= info[i].band %>  </br></br> <b>Managers kontaktinformasjon:</b></br> <%= info[i].managerEpost %> </br></br><b>Teknisk informasjon:</b></br> <%= info[i].teknisk %>
        </div>
        <% } %>
        <% for(var i=0; i<conc.length; i++) { %>
          <div class="tab-pane" id="bandMentionID-<%= i %>" role="tabpanel"><b> Band:</b></br> <%= conc[i].artist %>  </br></br><b>Omtale:</b></br>
             <form action='/bookingMention' method="POST">
                <textarea class="form-control" name="mention" rows="12" <% if(!conc[i].mention) { %> placeholder="Skriv inn omtale"></textarea> <% } else { %> ><%=conc[i].mention%></textarea> <% } %>
                <input type="hidden" name="artistBooked" value="<%=conc[i].artist%>">
                <input type="hidden" name="dateBooked" value="<%=conc[i].date%>">
                <br>
                <br>
                <button type="submit" class="btn btn-primary">Oppdater/Legg inn omtale</button></td>
              </form>
          </div>
          <% }
          } %>
      </div>


  	</div>

	</br>
	</br>
	</br>

    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-3 bg-dark footer">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Schmuka 2017</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/popper/popper.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
     <script src="https://cdn of underscore"></script>

  </body>

</html>
