<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Schmuka</title>

    <!-- Bootstrap core CSS -->
    <link href= "vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/heroic-features.css" rel="stylesheet">

  </head>

  <body>

    <!-- LOGIN FORM -->

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Schmuka</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Hjem
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logg ut</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <!-- Page Content -->
    <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-3">Manager</h1>
        <p class="lead">Her kan du melde inn tekniske behov for
          <% var thisBand = null;
          for(var i=0; i<band.length; i++) {
                if(band[i].managerEpost == user.local.email) { %>
                  <%=band[i].band%>
                  <%thisBand = band[i].band;%>
          <% }
           } %>
      </p>
      </header>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#teknisk" role="tab">Send eller oppdater teknisk info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#pending" role="tab">Bookingtilbud</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Legg inn sanger for konsert</a>
          <div class="dropdown-menu">
          <% for(var i=0; i<conc.length; i++) {
              if(conc[i].approvedByManager == true && thisBand == conc[i].artist) {
            %>
            <a class="dropdown-item" data-toggle="tab" href="#bandMentionID-<%= i %>"><%= conc[i].scene %>, <%= conc[i].date %></a>
          <% }
          } %>
          </div>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="teknisk" role="tabpanel">
          <form action='/manager' method="POST">
            <div class="form-group">
              <label for="Epost">Din epost:</label>
              <input type="text" class="form-control" name="managerEpost" value="<%= user.local.email %>">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput">Band/Artist:</label>
              <input type="text" class="form-control" name="band" value="<%for(var i=0;i<band.length;i++){if(band[i].managerEpost==user.local.email){%><%=band[i].band%><%}}%>"><!--must be like this to remove whitespace -->
            </div>
            <div class="form-group">
              <label for="Epost">Sjanger:</label>
              <input type="text" class="form-control" name="sjanger" placeholder="Skriv inn sjanger">
            </div>
            <div class="form-group">
              <label for="exampleTextarea">Tekniske behov:</label>
              <textarea class="form-control" name="teknisk" rows="12"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>

        <div class="tab-pane" id="pending" role="tabpanel">
          <table class="table">
            <thead>
              <tr>
                <th>Scene</th>
                <th>Konsert</th>
                <th>Dato</th>
                <th>Tid</th>
                <th>Beregnet billettpris</th>
                <th>Avslå/Godkjenn</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0; i<conc.length; i++) {
                    if(conc[i].approvedByBookingSjef == true && conc[i].approvedByManager == false) {
                      for(var j=0; j<band.length; j++) {
                        if(conc[i].artist == band[j].band) {
                    %>
                          <form action='/bookingSjef' method="POST">
                            <tr>
                                <td><%=conc[i].scene%></td>
                                <td><div class="form-group"><input type="hidden" name="artistBooked" value="<%=conc[i].artist%>"><%=conc[i].artist%></div></td>
                                <td><div class="form-group"><input type="hidden" name="dateBooked" value="<%=conc[i].date%>"><%=conc[i].date%></div></td>
                                <td><div class="form-group"><input type="hidden" name="timeBooked" value="<%=conc[i].time%>"><%=conc[i].time%></div></td>
                                <td><%=conc[i].ticketPrice%></td>
                                <td><button class="btn btn-danger btn-sm" formaction="/managerDecline">Avslå</button>&nbsp&nbsp<button type="submit" class="btn btn-success btn-sm" formaction="/managerApprove">Godkjenn</button></td>

                            </tr>
                          </form>
                <%    }
                    }
                  }
                } %>
            </tbody>
          </table>
        </div>
        <% for(var i=0; i<conc.length; i++) { %>
          <%if(conc[i].approvedByManager && thisBand == conc[i].artist) {%>
          <div class="tab-pane" id="bandMentionID-<%= i %>" role="tabpanel"><b> Band: </b> <%= conc[i].artist %>  </br></br><b> Scene: </b> <%= conc[i].scene %>  </br></br><b> Dato:</b> <%= conc[i].date %>  </br></br><b>Sanger som skal bli spilt denne konserten:</b></br>
             <form action='/addSongs' method="POST">
                <textarea class="form-control" name="songs" rows="12" <% if(!conc[i].songs) { %> placeholder="Skriv inn sanger"></textarea> <% } else { %> ><%=conc[i].songs%></textarea> <% } %>
                <input type="hidden" name="artistBooked" value="<%=conc[i].artist%>">
                <input type="hidden" name="dateBooked" value="<%=conc[i].date%>">
                <br>
                <br>
                <button type="submit" class="btn btn-primary">Oppdater/Legg inn sanger</button></td>
              </form>
          </div>
          <% }
          } %>
      </div>
    </div>





	</br>
	</br>
	</br>

    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-3 bg-dark footer">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Schmuka 2017</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/popper/popper.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>
