<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Schmuka</title>

    <!-- Bootstrap core CSS -->
    <link href= "/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/heroic-features.css" rel="stylesheet">

  </head>

  <body>
    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Schmuka</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Hjem
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logg ut</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-3">Tekniker <%= user.local.name %></h1>
        <p class="lead">Her kan du finne oversikt over alle konserter du skal jobbe med.</p>
      </header>
	<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" data-toggle="tab" href="#profile" role="tab">Konserter</a>
			</li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#melding" role="tab">Oppmøtemelding for rigging</a>
      </li>
		</ul>

		<!-- Tab panes -->
    <div class="tab-content">
			<div class="tab-pane active" id="profile" role="tabpanel">
				<table class="table">
				  <thead>
				    <tr>
				      <th>Scene</th>
				      <th>Konsert</th>
				      <th>Dato</th>
				      <th>Tid</th>
				      <th>Lys</th>
				      <th>Lyd</th>
				      <th>Rigging</th>
				    </tr>
				  </thead>
				  <tbody>
            <!--Fething concerts from database and displaying if tekniker is assosciated(?) with the concert -->
            <%
            for(var i=0; i<conc.length; i++) {
              if(conc[i].approvedByManager == true && conc[i].approvedByBookingSjef == true) {
                var searchLength = 0;
                if(conc[i].lights.length>conc[i].sound.length) {
                  if(conc[i].rig.length>conc[i].lights.length) {
                    searchLength = conc[i].rig.length;
                  }
                  else {
                    searchLength = conc[i].lights.length;
                  }
                }
                else {
                  if(conc[i].rig.length>conc[i].lights.length) {
                    searchLength = conc[i].rig.length;
                  }
                  else {
                    searchLength = conc[i].sound.length;
                  }
                }

                for(var j=0; j<searchLength; j++) {
                    if((user.local.name == conc[i].lights[j]) || (user.local.name == conc[i].sound[j]) || (user.local.name == conc[i].rig[j])) {
                %>
  				    <tr>
  				      <td><%= conc[i].scene %></td>
  				      <td><%= conc[i].artist %></td>
  				      <td><%= conc[i].date %></td>
  				      <td><%= conc[i].time %></td>
                <td><% for(var k=0; k<conc[i].lights.length; k++) { %>
                   <%= conc[i].lights[k] %></br>
                <% } %>
                </td>
                <td><% for(var k=0; k<conc[i].sound.length; k++) { %>
                   <%= conc[i].sound[k] %></br>
                <% } %>
                </td>
  				      <td><% for(var k=0; k<conc[i].rig.length; k++) { %>
                   <%= conc[i].rig[k] %></br>
                <% } %>
                </td>
  					</tr>
            <% break }
              }
            }
          } %>
				  </tbody>
				</table>
			</div>
      <div class="tab-pane" id="melding" role="tabpanel">
        <form action="/all" method="GET">
          <p> Her kan du melde fra om oppmøte til rigging for konserter</p>
          <% for(var i = 0; i<conc.length; i++) {
            if(conc[i].approvedByManager == true && conc[i].approvedByBookingSjef == true) {
              var searchL = conc[i].rig.length;
              for(var k = 0; k<searchL; k++){
                if((user.local.name == conc[i].rig[k])){
                  %>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="scene" value="<%= conc[i].scene %>" >
                      <%= conc[i].scene %>
                    </label>
                  </div>

              <% } %>
            <% } %>
          <% } %>
        <% } %>



          <textarea class="form-control" rows="2" placeholder="Skriv inn nødvendig informasjon">
          </textarea>
          <br>
          <button class="btn btn-primary" type="submit">Send melding til arrangør</button>
          <form>
	</div>
</div>

	</div>
	</br>
	</br>
	</br>

    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-3 bg-dark footer">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Schmuka 2017</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/popper/popper.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>
